In [1]:
import seaborn as sns

titanic = sns.load_dataset("titanic")

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv("/content/pizza.csv")
df

,Unnamed: 0,X,id,date,time,name,size,type,price
0,1,1,2015-000001,2015-01-01,11:38:36,hawaiian,M,classic,13.25
1,2,2,2015-000002,2015-01-01,11:57:40,classic_dlx,M,classic,16.00
2,3,3,2015-000002,2015-01-01,11:57:40,mexicana,M,veggie,16.00
3,4,4,2015-000002,2015-01-01,11:57:40,thai_ckn,L,chicken,20.75
4,5,5,2015-000002,2015-01-01,11:57:40,five_cheese,L,veggie,18.50
...,...,...,...,...,...,...,...,...,...
49569,49570,49570,2015-021348,2015-12-31,21:23:10,four_cheese,L,veggie,17.95
49570,49571,49571,2015-021348,2015-12-31,21:23:10,napolitana,S,classic,12.00
49571,49572,49572,2015-021348,2015-12-31,21:23:10,ckn_alfredo,M,chicken,16.75
49572,49573,49573,2015-021349,2015-12-31,22:09:54,mexicana,L,veggie,20.25
49573,49574,49574,2015-021350,2015-12-31,23:02:05,bbq_ckn,S,chicken,12.75

In [ ]:
# Si quieren modificar la etiqueta de separaciÃ³n
df = pd.read_csv("/content/pizza.csv", sep=";")

# Si quieres abrir datos Excel
df = pd.read_excel("/content/datos.xlsx", sheet_name="Hoja1")

Datos binarios: Solamente oscilan entre dos valores (0 o 1)

SEX (binario) -> 0: female, 1: male

COLUMNAS DUPLICADAS:

*   class -> eliminar
*   who -> eliminar
*   adult_male -> eliminar
* alive -> eliminar

In [2]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [33]:
df = pd.DataFrame(titanic)
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [31]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [17]:
df1 = df.drop(columns=['class', 'who', 'adult_male', 'deck', 'alive', 'embarked'])
df1

     survived  pclass     sex   age  sibsp  parch     fare  embark_town  alone
0           0       3    male  22.0      1      0   7.2500  Southampton  False
1           1       1  female  38.0      1      0  71.2833    Cherbourg  False
2           1       3  female  26.0      0      0   7.9250  Southampton   True
3           1       1  female  35.0      1      0  53.1000  Southampton  False
4           0       3    male  35.0      0      0   8.0500  Southampton   True
..        ...     ...     ...   ...    ...    ...      ...          ...    ...
886         0       2    male  27.0      0      0  13.0000  Southampton   True
887         1       1  female  19.0      0      0  30.0000  Southampton   True
888         0       3  female   NaN      1      2  23.4500  Southampton  False
889         1       1    male  26.0      0      0  30.0000    Cherbourg   True
890         0       3    male  32.0      0      0   7.7500   Queenstown   True

[891 rows x 9 columns]

In [23]:
df1.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embark_town      2
alone            0
dtype: int64

In [26]:
df2 = df1.dropna()
df2

     survived  pclass     sex   age  sibsp  parch     fare  embark_town  alone
0           0       3    male  22.0      1      0   7.2500  Southampton  False
1           1       1  female  38.0      1      0  71.2833    Cherbourg  False
2           1       3  female  26.0      0      0   7.9250  Southampton   True
3           1       1  female  35.0      1      0  53.1000  Southampton  False
4           0       3    male  35.0      0      0   8.0500  Southampton   True
..        ...     ...     ...   ...    ...    ...      ...          ...    ...
885         0       3  female  39.0      0      5  29.1250   Queenstown  False
886         0       2    male  27.0      0      0  13.0000  Southampton   True
887         1       1  female  19.0      0      0  30.0000  Southampton   True
889         1       1    male  26.0      0      0  30.0000    Cherbourg   True
890         0       3    male  32.0      0      0   7.7500   Queenstown   True

[712 rows x 9 columns]

In [34]:
df2.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embark_town    0
alone          0
dtype: int64